<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
	$(document).ready(function() {
		
	});
	
	function validation() {
		let title = $('#title').val();
		let contents = $('#contents').val();
		
		if(title.length <= 5) {
			alert('제목을 6자 이상 입력하세요.');
			return false;
		}
		if(contents.length <= 5) {
			alert('내용을 6자 이상 입력하세요.');
			return false;
		}
		
		return true;
	}
</script>
<title>판매글 등록</title>
</head>
<body>
<h1>[ 판매글 등록 ]</h1>

<form th:action="@{/board/write}" method="post" onsubmit="return validation()">
<table>
	<tr>
		<td>카테고리</td>
		<td>
 			<select name="category" id="category">
				<option value="1">컴퓨터</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>제목</td>
		<td>
			<input type="text" name="title" id="title"/>
		</td>
	</tr>
	<tr>
		<td>내용</td>
		<td>
			<textarea name="contents" id="contents" cols="30" rows="10"></textarea>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="저장" id="submitButton" />
		</td>
	</tr>
</table>
</form>
</body>
</html>